services:
  shade-agent-api:
    environment:
      NEAR_ACCOUNT_ID: ${NEAR_ACCOUNT_ID}
      NEAR_SEED_PHRASE: ${NEAR_SEED_PHRASE}
      API_CODEHASH: ${API_CODEHASH}
      APP_CODEHASH: ${APP_CODEHASH}
      NEXT_PUBLIC_contractId: ${NEXT_PUBLIC_contractId}
      NEAR_RPC_JSON: ${NEAR_RPC_JSON}
    platform: linux/amd64
    image: mattdlockyer/shade-agent-api@sha256:a86e3a4300b069c08d629a38d61a3d780f7992eaf36aa505e4527e466553e2e5
    container_name: shade-agent-api
    volumes:
      - /var/run/tappd.sock:/var/run/tappd.sock
    restart: always
  shade-agent-app:
    environment:
      NEXT_PUBLIC_contractId: ${NEXT_PUBLIC_contractId}
      ATTESTATION_CONTRACT_ID: ${ATTESTATION_CONTRACT_ID}
      ORACLE_ACCOUNT_ID: ${ORACLE_ACCOUNT_ID}
      ORACLE_PRIVATE_KEY: ${ORACLE_PRIVATE_KEY}
    platform: linux/amd64
    image: narasimteja/proof-of-pulse-agent@sha256:4efa58b1c38c8e4584d34e553df451c2a3be9d0e55e85d1bd0d14efb494ecde3
    container_name: shade-agent-app
    ports:
      - 3000:3000
    volumes:
      - /var/run/tappd.sock:/var/run/tappd.sock
    restart: always
